<body class="ask-body">
<div class="container">
  <div class="container-text">
  <h1>Ask a question to your favorite stupid coach !</h1>
  </div>
  <form action="/answer">
    <input type="text" name="answer" placeholder="Type your question...">
    <input type="submit" value="Ask!">
  </form>
</div>
</body>
